.App {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.base-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 1; /* Stays fixed in the back */
}

.page-container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  will-change: transform;
}

/* Background colors with slight opacity for layering */
.page:nth-child(1) {
  background-color: rgba(173, 144, 108, 0.95); /* Home */
  z-index: 3; /* Starts on top */
}

.page:nth-child(2) {
  background-color: rgba(51, 51, 51, 0.95); /* AboutUs */
  z-index: 2;
}

.page:nth-child(3) {
  background-color: rgba(102, 102, 102, 0.95); /* Clubs */
  z-index: 1;
}